# Heroes of Pymoli

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

#### Overview of Initial DataFrame

In [3]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [4]:
total_players = purchase_data['SN'].nunique() #takes a count of all unique players
total_players_dict = [{"Total Players": total_players}] #creates a dictionary
total_players_df = pd.DataFrame(total_players_dict) #creates a dataframe to display results

total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [29]:
num_unique = purchase_data['Item Name'].nunique() #finds number of unique items
avg_price = purchase_data['Price'].mean() #finds the avg price of purchase
num_purchases = len(purchase_data) #finds the number of purchases
total_rev = purchase_data['Price'].sum() #calculates total revenue

purchase_analysis_dict = [{"Number of unique Items": num_unique,   #creates a results dictionary
                           "Average Price": avg_price,
                           "Number of Purchases": num_purchases,
                           "Total Revenue": total_rev}]

purchase_analysis_df = pd.DataFrame(purchase_analysis_dict) #dataframe to display results
purchase_analysis_df.style.format({"Average Price": "${:,.2f}",  #formats the results, done in most of the following cells
                            "Total Revenue": "${:,.2f}"})

## Gender Demographics

In [61]:
genders = purchase_data.groupby("Gender") #groups by the gender
gender_count = genders.nunique()["SN"] #then takes a count of each SN's gender
gender_percent = (gender_count/total_players)*100 #finds the percentage of each gender compared to total

gender_demo_df = pd.DataFrame({"Total Count": gender_count,
                               "Percentage of Players": gender_percent}) #creates a dataframe to display results
gender_demo_df.index.name = None
gender_demo_df.sort_values(['Total Count'], ascending = False).style.format({"Percentage of Players": "{:,.2f}%"})

## Purchasing Analysis (Gender)

In [65]:
purchase_count = genders["Purchase ID"].count() #bins a count of total purchases based on gender
avg_purchase_price = genders["Price"].mean() #bins the avg price based on gendeer
avg_purchase_total = genders["Price"].sum() #bins the total revenue based on gender
avg_purchase_pp = avg_purchase_total/gender_count #avg purchase by gender
purchase_analysis_df = pd.DataFrame({"Purchase Count": purchase_count,
                                     "Average Purchase Price": avg_purchase_price,
                                     "Total Purchase Value": avg_purchase_total,
                                     "Avg Total Purchase per Person": avg_purchase_pp}) #a dataframe to display results
purchase_analysis_df.index.name = "Gender"
purchase_analysis_df.style.format({"Average Purchase Price": "${:,.2f}",
                                   "Total Purchase Value": "${:,.2f}",
                                   "Avg Total Purchase per Person": "${:,.2f}"})

In [71]:
age_groups = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"] #creates age group bins to store the count of players and percentage
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_groups, labels = groups)
group_ages = purchase_data.groupby("Age Group")
total_age_count = group_ages["SN"].nunique()
age_percent = (total_age_count/total_players)*100

age_demo_df = pd.DataFrame({"Total Count": total_age_count,
                            "Percentage of Players": age_percent}) #display results
age_demo_df.style.format({"Percentage of Players": "{:,.2f}%"})

## Purchasing Analysis (Age)

In [73]:
purch_age_count = group_ages["Purchase ID"].count() #uses the age group bins to find the total count, avg purchase price, total rev, and avg purch per person
avg_purch_price = group_ages["Price"].mean()
total_purch_value = group_ages["Price"].sum()
avg_purch_pp = total_purch_value/total_age_count

age_purch_df = pd.DataFrame({"Purchase Count": purch_age_count,
                             "Average Purchase Price": avg_purch_price,
                             "Total Purchase Value": total_purch_value,
                             "Average Purchase Total per Person": avg_purch_pp}) #displays results
age_purch_df.index.name = None
age_purch_df.style.format({"Average Purchase Price":"${:,.2f}",
                           "Total Purchase Value":"${:,.2f}",
                           "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

In [74]:
spenders = purchase_data.groupby("SN") #groups by SN

spender_purch_count = spenders["Purchase ID"].count() #bins total purchase count, avg purchase, and total spending by each sn
spenders_avg_purch_price = spenders["Price"].mean()
spenders_total_purch = spenders["Price"].sum()

spenders_df = pd.DataFrame({"Purchase Count": spender_purch_count,
                            "Average Purchase Price": spenders_avg_purch_price,
                            "Total Purchase Value": spenders_total_purch}) #display results

top_spenders_df = spenders_df.sort_values(["Total Purchase Value"], ascending = False).head() #finds the top 5 spenders based on total purchases
top_spenders_df.style.format({"Average Purchase Total":"${:,.2f}",
                              "Average Purchase Price":"${:,.2f}", 
                              "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

In [76]:
items = purchase_data[["Item ID", "Item Name", "Price"]]

item_grouped = items.groupby(["Item ID", "Item Name"]) #groups data by the item & id
item_purch_count = item_grouped["Price"].count()
purch_value = item_grouped["Price"].sum()
item_price = purch_value/item_purch_count
pop_items_df = pd.DataFrame({"Purchase Count": item_purch_count,
                             "Item Price": item_price,
                             "Total Purchase Value": purch_value}) #display results
most_pop_items_df = pop_items_df.sort_values(["Purchase Count"], ascending = False).head() #finds most purchased items
most_pop_items_df.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

In [78]:
most_pop_items_df = pop_items_df.sort_values(["Total Purchase Value"], ascending = False).head() #displays most profited items
most_pop_items_df.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})